body{

    background: #f2ccfc;
    font-family: "Nunito";
}

#navmain{

    font-size: 1.5rem;
    font-weight: 100;
}
#navmain .nav-link{

    color:white;

       
}

#navmain .nav-link:hover{

    color:#ea1c2c;

       
}


.active{

    color:white;
    background-color: #d53e4b;
    border-radius: 5px;
    padding: 2px;
    
    transition: all 0.5s;
}


#navmain .navbar-brand
{
    color:#ea1c2c;
    


}

#headingGroup span{

    color: #ea1c2c;

}

#headingGroup h1{

    color:white;
    font-size: 4rem;
    font-weight: 100;
}
#headingGroupMain span{

    color: #ea1c2c;

}

#headingGroupMain h1{

    color:white;
    font-size: 4rem;
    font-weight: 100;
}

h2{

    color:white;
    font-size: 2rem;
    font-weight: 100;
}
footer{
    display: flex;
    color:white;
    font-size: 3rem;
    font-weight: 100;
    justify-content: center;
    align-items: center;
   
    padding: 5px;
    background-color: #dec0de;
}
footer span{

    color: #ea1c2c;
}
@media (max-width: 1300px) {
    #headingGroup h1{

        font-size: 3rem;
    }
}
p{

    color:rgb(250, 162, 162);
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
    

}

#middle h1{

    color:#ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
    

}
    
#last{

    color:rgb(250, 162, 162);
    font-weight: 100;
    font-size: 1.25rem;
    line-height: 2;
    

}

#last h1{

    color:#ea1c2c;
    font-weight: 100;
    font-size: 2.5rem;
    

}

.scrolled{

    background-color: rgb(222,192,222);
    transition: background-color 0.5s ease-in-out;

}
    

section{

   
    margin-bottom: 100px ;
    transition: all 0.5s ;
}

.active-section {
    
   
    
    padding: 0 1em 0 1em;
    margin: 2% 0 2% 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.1s;
    
    
   

  }
 
.active-home{
    margin: 9%;
    
    transition: all 0.5s;
}
.active-home span{
    margin: 4%;
    transform: rotate(180deg);
    display: inline-block;
    transition: all 0.5s;
    
}
#Home{
    
    transition: all 0.5s;
}
#Home span{
    
    transition: all 0.5s;
    
}
@media (max-width: 800px) {
    #headingGroup h1{
        margin: 2px;
        padding: 0;
        font-size:2rem;
        text-align: left;
    }

    
  }
  @media (max-width: 800px) {
    #Home{
        
        text-align: end;
        margin: 1%;
        padding: 1%;
        font-size:2rem;
    }

    
  }
 

